/* =================Base================== */
html {
  scroll-behavior: smooth;
}
body {
  background-color: #fff;
  font-family: "Roboto", sans-serif;
  color: #1e1f25;
}
a {
  text-decoration: none;
  color: #1e1f25;
}
ul,
ol {
  list-style: none;
}
button {
  cursor: pointer;
}
img {
  display: block;
  max-width: 100%;
}

.page-container {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}
main {
  flex-grow: 1;
}
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-top: 0;
  margin-bottom: 0;
}
ol,
ul {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}
.container {
  max-width: 375px;
  margin-left: auto;
  margin-right: auto;
  padding: 0 15px;
}
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

@media screen and (min-width: 1120px) {
  .container {
    max-width: 1440px;
  }
}

/* =================Header================== */

.header {
  z-index: 9999;
  position: absolute;
  top: 7px;
  margin: 0 auto;
  width: 1440px;
}

.header-nav {
  box-sizing: border-box;
  height: 57px;
  width: 1440px;
  padding: 0 20px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.header-link {
  color: #fff;
  text-align: center;
  font-family: Inter;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.header-list {
  display: flex;
  gap: 43px;
  align-items: center;
}
.header-item {
}
.header-list-link {
  color: #fff;
  text-align: center;
  font-family: Inter;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.header-inst-contact {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 135px;
  height: 36px;
  border-radius: 20px;
  border: 1px solid #9b8d7f;
  background-color: rgba(217, 217, 217, 0);
}
.header-inst-contact:hover,
.header-inst-contact:active,
.header-inst-contact:focus {
  border: 1px solid #cdaa7d;
  color: #cdaa7d;
}
/* ============ hero=========== */
.hero-section {
  background-image: linear-gradient(
      rgba(75, 66, 52, 0.5),
      rgba(75, 66, 52, 0.5)
    ),
    url(./image/hero.jpg);
  width: 1441px;
  height: 597px;
  margin: 0 auto;
}
.hero-title {
  width: 617px;
  height: 171px;
  margin: 0 auto;
  padding-top: 110px;
}
.hero-text {
  margin: 0 auto;
  padding-top: 44px;
  color: #fff;
  text-align: center;
  font-family: Inter;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.hero-inst-link {
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 44px;
  color: #fff;
  text-align: center;
  font-family: Inter;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  width: 218px;
  height: 36px;
  border-radius: 20px;
  border: 1px solid #f4f0ec;
  background: rgba(217, 217, 217, 0);
}
.hero-inst-link:hover,
.hero-inst-link:active,
.hero-inst-link:focus {
  border: 1px solid #cdaa7d;
  color: #cdaa7d;
}

/* ============== About me========= */
.about-section {
}
.about-box {
  display: flex;
  justify-content: center;
  margin-top: 40px;
  gap: 65px;
}
.about-image {
}
.text-container {
  display: flex;
  flex-direction: column;
  gap: 30px;
  width: 677px;
}
.about-title {
  color: #3b3b3b;
  font-family: Inter;
  font-size: 36px;
  font-weight: 700;
}
.about-text {
  font-family: Inter;
  font-size: 16px;
  font-weight: 400;
  line-height: 160%;
  letter-spacing: -0.32px;
}
.bold {
  font-weight: 700;
}
/* =============== statistic========== */
.statistic-section {
  height: 475px;
  flex-shrink: 0;
  background: #f4f0ec;
}
.statistic-list {
  display: flex;
  gap: 50px;
  justify-content: center;
  align-items: center;
  padding-top: 150px;
}
.statistic-item {
  display: flex;
  flex-direction: row;
  gap: 50px;
}
.statistic-title {
  color: #cda274;
  text-align: center;
  font-family: "DM Serif Display";
  font-size: 85px;
  font-weight: 400;
  line-height: 127.5px; /* 150% */
  letter-spacing: 1.7px;
}
.statistic-text {
  color: #4d5053;
  text-align: center;
  font-size: 22px;
  font-weight: 400;
  line-height: 33px;
  letter-spacing: 0.22px;
}
.statistic-info {
}
.statistic-after {
  width: 1px;
  height: 195px;
  background: #cda274;
}
.hidden {
  visibility: hidden;
}
@media screen and (min-width: 1120px) {
}
/* ========== advantages========== */
.advantage-section {
  padding: 30px 0;
}

.advantage-top-container {
  display: flex;
  justify-content: center;
  gap: 20px;
  align-items: center;
}
.advantage-title {
  color: #cda274;
  font-family: Georgia;
  font-size: 50px;
  font-style: normal;
  font-weight: 700;
}
.advantage-text {
}
.advantage-list {
  display: grid;
  grid-template-columns: 40vw 40vw;
  grid-template-rows: 200px 200px 200px;
  justify-content: center;
  align-items: center;
}
.advantage-item {
  position: relative;
}
.advantage-number {
  color: rgba(205, 162, 116, 0.2);
  text-align: center;
  font-family: Georgia;
  font-size: 100px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%; /* 225px */
  position: absolute;
  bottom: 0px;
}
.advantage-name {
  color: #292f36;
  text-align: center;
  font-family: Inter;
  font-size: 18px;
  font-weight: 700;
}
.advantage-text-second {
}
@media screen and (min-width: 1120px) {
  .advantage-number {
    color: rgba(205, 162, 116, 0.2);
    text-align: center;
    font-family: Georgia;
    font-size: 150px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%; /* 225px */
    position: absolute;
    bottom: 0px;
  }
  .advantage-list {
    display: grid;
    grid-template-columns: 20vw 20vw 20vw;
    grid-template-rows: 240px 240px;
    justify-content: center;
    align-items: center;
    grid-gap: 1rem;
    margin-top: 40px;
  }
  .advantage-name {
    color: #292f36;
    text-align: center;
    font-family: Inter;
    font-size: 25px;
    font-weight: 700;
  }
}
/* ====== portfolio======== */
.portfolio-section {
  background-color: rgba(205, 162, 116, 0.2);
  padding: 50px 0;
}
.portfolio-title {
  color: #fff;
  text-align: center;
  font-family: "DM Serif Display";
  font-size: 48px;
  font-style: normal;
  font-weight: 400;
  line-height: 120%; /* 57.6px */
}
.portfolio-list {
  display: grid;
  grid-template-columns: 20vw 20vw 20vw;
  grid-gap: 1rem;
  justify-content: center;
  align-items: center;
  margin-top: 40px;
}
.portfolio-item {
}
.portfolio-img {
}
/* ========== prise=========== */
.price-section {
  width: 1133px;
  margin-left: auto;
  margin-right: auto;
}
.price-box {
  margin-top: 45px;
}
.price-title {
  color: #000;
  font-family: Inter;
  font-size: 42px;
  font-weight: 600;
  line-height: 32px;
  margin-bottom: 15px;
}
.price-text {
  margin-bottom: 45px;
  width: 733px;
  color: #000;
  font-family: Inter;
  font-size: 14px;
  font-weight: 400;
  line-height: 18px;
}
.price-list {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-bottom: 45px;
}
ul.price-list li::before {
  content: "✓";
}
.price-item {
  color: var(--Text-Body, #808080);
  font-family: Inter;
  font-weight: 600;
  line-height: 24px; /* 150% */
}
.price-box-second {
  display: flex;
  justify-content: space-between;
  margin-top: 40px;
}
.price-linl {
  width: 235px;
  height: 50px;
  flex-shrink: 0;
  border-radius: 12px;
  border: 2px solid #000;
  background: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
}
.price-linl:hover,
.price-linl:active,
.price-linl:focus {
  border: 1px solid #cdaa7d;
  color: #cdaa7d;
}
/* ===== rew=== */
.rew-section {
  background-color: rgba(205, 162, 116, 0.2);
  padding: 50px 0;
}

.rew-box {
  height: 675px;
  flex-shrink: 0;
  border-radius: 70px;
  background: #f4f0ec;
}
.rew-title {
  color: #292f36;
  text-align: center;
  font-size: 45px;
  font-weight: 400;
  line-height: 58.5px; /* 130% */
  letter-spacing: 0.22px;
  padding-top: 80px;
  padding-bottom: 80px;
}
.rew-list {
  display: flex;
  gap: 20px;
  justify-content: center;
}
.rew-item {
  width: 354px;
  height: 287px;
  flex-shrink: 0;
  border-radius: 30px;
  background: #fff;
}
.rew-name-box {
  display: flex;
  gap: 20px;
  align-items: center;
  padding: 20px;
}
.rew-img {
}
.rew-name {
  color: #292f36;
  font-family: Inter;
  font-weight: 700;
  line-height: 37.5px;
  letter-spacing: 0.22px;
}
.rew-text {
  padding: 20px;
}
/* ========instagram========== */
.insta-section {
  margin: 80px auto;
}
.insta-box {
  height: 540px;
  border-radius: 50px;
  background: #f6f4f3;
  display: flex;
  gap: 150px;
  justify-content: center;
  align-items: center;
}
.insta-text-box {
  width: 404px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.insta-text {
  color: #4d5053;
  font-family: "Roboto", sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
}
.insta-bold {
  color: #0f2336;
  font-family: "Roboto", sans-serif;
  font-size: 40px;
  font-weight: 900;
}
.insta-link {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  text-align: center;
  font-size: 18px;
  font-weight: 400;
  line-height: 27px; /* 150% */
  letter-spacing: 0.22px;
  width: 241px;
  height: 71px;
  border-radius: 10px;
  background-color: #cda274;
  stroke-width: 2px;
  stroke: #cda274;
  filter: drop-shadow(1px 0px 18px rgba(0, 0, 0, 0.2));
}
.insta-link:hover,
.insta-link:active,
.insta-link:focus {
  border: 1px solid rgba(205, 162, 116, 0.2);

  color: #4d5053;
}
/* =========footer=========== */
.footer {
  height: 368px;
  background: #9b8d7f;
  display: flex;
  gap: 200px;
  justify-content: center;
  padding-top: 50px;
  position: relative;
}
.footer::after {
  content: "";
  width: 1440px;
  height: 1px;
  opacity: 0.5;
  background: #fff;
  position: absolute;
  bottom: 70px;
}
.contact-box {
}
.footer-title {
  color: #fff;
  font-size: 20px;
  font-weight: 700;
  font-family: "DM Serif Display";
  margin-bottom: 15px;
}
.footer-text {
  font-family: "DM Serif Display";
  color: var(--white, #fff);
  font-size: 18px;
  font-weight: 400;
  margin-bottom: 15px;
}
.mobile-menu-nav {
}
.mobile-menu-nav-list {
}
.mobile-menu-nav-item {
}
